




* {
	margin: 0px;
	padding: 0px;
}

* html li {
	vertical-align: bottom;
}

* html img {
	vertical-align: middle;
}

* html input {
	vertical-align: middle;
}

img {
	border: 0px;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	padding: 0px;
	margin: 0px;
	list-style: none;

}

* html li {
	vertical-align: bottom;
}

a {
	color: #000;
	text-decoration: none;
	border: none;
	outline: none; cursor: pointer;
}

.clear {
	clear: both;
	height: 0px;
	display: block;
	font-size: 0px;
}

	
p{
    color: #4a4a4a;
}
body {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background: #ebebeb;
        font-family:arial;
        
  
}
#wrapper{
    width: 100%;
    margin: auto;
    
   
}

#header{
    margin: auto;
    overflow: hidden;
    width: 1010px;
   background: #fff;
}
*/* --------------------------------CSS 3 MENU START      -------------------------------*/

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;font-family: verdana;
}
#cssmenu {
  background: url("../images/nav-bg.png") repeat-x scroll 0 0 transparent;
    height: 47px;
    margin-left: 20px;
    width: 967px;

}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
     background: url("../images/nav-bg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-size: 15px;
    line-height: 44px;
    padding: 0 20px;
    text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
  border-right: 1px solid #53c5ea;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e00f16;
  margin-left: -10px;
 
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0; 
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
   background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background:  url(../images/nav-bg.png) repeat-x;
  border-bottom: 1px dotted #ec6f73;
  filter: none;
  font-size: 13px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #000;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background:  url(../images/nav-bg.png) repeat-x;
  border-bottom: 1px dotted #d06d70;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #000;
}



*/* --------------------------------CSS 3 MENU END      -------------------------------*/
#logo{
    float: left;
    display: inline;
    width:82px;
    height: 100px;
    margin: 10px 0 0 20px;
}

.school_name{
    float: left;
    font-size: 18px;
    width: 600px;
    color: #1a82af; margin:3px 0 0 100px;
}

.gov_logo{float: right;
display: inline; margin-right: 22px;
margin-bottom: 5px;
width: 71px;
height: 72px;}

.social_link{
    float: right;
    display: inline;
    width: 235px;
  margin-top: 10px;
  margin-right: 10px;
 
}

.social_link ul li{
    float: left;
    display: inline;
}
#navigation{
    margin: 5px auto 10px;
  
    width: 973px;
  
}
.nav_blog{
    position: absolute;
    z-index: 10000;
}
.left_blog{
    float: left;
    display: inline;
    width:14px ;
    height: 53px;
    background: url(../images/bg4.png) no-repeat;
}
.mid_blog{
       float: left;
    display: inline;
    width:940px ;
    height: 53px;
    background: url(../images/bg5.png) repeat-x;
   
    
}
.right_blog{
       float:  right;
    display: inline;
    width:19px ;
    height: 53px;
    background: url(../images/bg6.png) no-repeat;
    
}
.headnav{
    float: left;
    display: inline;
    width: 887px;
   
}

.headnav li{
    float: left;
    display: inline;
   line-height: 27px;
    font-family: arial;
    font-size: 14px;
        color: #3aeaf8;
        text-transform: uppercase;
      
         padding: 17px 10px;
   
}
.headnav li a{
    color: #3aeaf8;
    text-shadow:1px 0 0 #02626b;
}

.headnav li a:hover{
    color: #fff;
}

/*

.nav_left:hover{
    float: left;
    display: inline;
    margin-top: -7px;
    width:17px ;
    height: 45px ;
    background: url(images/bg1.png) no-repeat left;
}
.nav_mid:hover{
    float: left;
    display: inline;
    width:100px ;
    height: 45px ;
    margin-top: -7px;
    background: url(images/bg2.png) repeat-x;
}


.nav_right:hover{
    float: left;
    display: inline;
    width:18px ;
    height: 45px ;
    margin-top: -7px;
    background: url(images/bg3.png) no-repeat right;
}




*/
.nav li{
     display: inline;
}

.notice_blog{
    background: url("../images/notbg.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    margin: auto;
    width: 967px;
}
.notice_blog marquee{
    float: right;
    width: 868px;
}
.notice_blog marquee span{
    color: #fff;font-size: 14px;
    line-height: 36px;
    text-transform: uppercase;
}
#container{
    width: 1010px;
    margin: auto;
    overflow: hidden;
 padding-top: 6px;
    background: #fff;
    
}

#sidebar{
 float: left;
 display: inline;
  width: 175px; 

  margin-right: 10px;
  margin-left: 16px;
}
#content{
    float: left;
    display: inline;
    width: 965px;
    min-height: 600px;
    margin-left: 20px;
  
  
  
}
#slider_blog{
   background: none repeat scroll 0 0 #B0A8A8;
    border: 1px solid;
    display: inline;
    float: left;
    margin-bottom: 5px;
    padding-bottom: 2px;
    width: 784px;
}


#slideshow{
    margin: 3px;
}
.sidenav{
    float: left;
    display: inline;
    width: 100%;
}

.sidenav li{
    float: left;
    width: 173px;
    height: 42px;
    text-align: center;
    line-height: 43px;
    font-family: arial;
    font-size: 18px;
    background: url(../images/bg10.png) no-repeat;
    display: inline;}

.sidenav li a{color: #fff;  width: 173px;display: block;}

.fb_box{
     
    display: inline;
    float: left;
    height: 200px;
    margin-left: 5px;
    margin-top: 5px;
    width: 166px;
}
.mid_content_blog{
    float: left;
    display: inline;
    width: 100%;
    margin-top:25px;
 
}

.des_blog{
    float: left;
    display: inline;
    width: 710px;
    margin-top:5px;
    
}

.des_blog h1{
     background: url("../images/des-bg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 38px;
    font-weight: normal;
    height: 55px;
    line-height: 54px;
    text-indent: 10px;
    width: 710px;
}
.des_blog p{
    font-size: 12px;
    font-family: arial;
    text-align: justify;
    margin-top: 20px;
}
.recent_blog{
    display: inline;
    float: right;
    width: 248px;
  
}
.top{
    float: left;
    display: inline;
       background: url("../images/bg7.png") no-repeat scroll 0 0 transparent;
    width: 248px;
    height: 55px;
	margin-top:5px;
}
.mid{
     float: left;
    display: inline;
       background: url("../images/bg8.png")  repeat-y;
    width: 235px;
    min-height:250px;
    margin-left: 7px;
	
}
.bottom{
     float: left;
    display: inline;
       background: url("../images/bg9.png")  no-repeat;
    width: 235px;
    height: 14px;
    margin-left: 7px;
}
.provide_blog{
     margin: auto;
    overflow: hidden;
    padding-left: 10px;
    width: 97%;
   
}

.provide_blog h2{
    font-size: 18px;
    font-family: arial;
    font-weight: normal;
    text-indent: 5px;
}
.each_box{
    float: left;
    display: inline;
    width: 232px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
   
}
.pro_imag{
    float: left;
    display:inline;
    padding: 2px;
    background:  url(../images/box.png) no-repeat;
    width: 232px;
    height: 158px;
}
.pro_imag img{
    margin: 3px;
    width: 222px;
     height: 147px;
}
.each_box p{
    font-size: 12px;
    font-family: arial;
text-align: justify;
color: #070707;
text-shadow:1px 0 0 #bdbdbd;
}

#footer{
    margin: auto;
    overflow: hidden;
    width: 1010px;
    height: 70px;
    background-color: #6ba0d8;
    padding-top: 20px;
}
#footer span{
     width: 1010px;
     text-align: center;
     font-size: 12px;
     color: #fff;display: block;
     
     margin-bottom: 14px;  
     margin-left: 21px;   
}

.top span{
   color: #FFFFFF;
    display: block;
    line-height: 56px;
    text-align: center;
}

.sdsds{
    background: url("../images/sub.png") no-repeat scroll center center transparent ;
    width:111px ;
    height: 31px;
    margin-top: 20px;
   
}



.le_name{
   color: #FFFFFF;
    display: block;
    font-size: 15px;
    text-align: left;
    width: 85px;
    
}
.mid table tr{
    margin-top: 10px;
    display: block;
}
.sub_b{
    height: 31px;
    background: url(../images/sub.png) no-repeat center ;
    width: 111px;
    border:  none;
    margin: 25px 0 0 52px;
    cursor: pointer;
}

.profile_blog{
    width: 100%;
    min-height: 600px;
    display: block;
    overflow: hidden;
    border: 1px solid #e7e8e9;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.left_img_box{
     display: inline;
    float: left;
    margin: 10px 0 0 10px;
    padding-right: 10px;
}

.profile_blog_box{
    float: left;
    display: inline;
    width:230px;
    height: 307px;
    background: url(../images/profile.png) no-repeat;
    margin: 24px -20px 10px 24px;
}
.profile_blog p{
    text-align: justify;
    padding:10px 10px 0 5px;
    color: #797979;
    font-size:18px;
}
.photo{
    margin: 29px auto   10px   auto;
    overflow: hidden;
    width: 147px;
    height: 171px;
}
.ph_des{
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: block;
}
.ph_des li{
    font-size: 13px;
    color: #333;
    text-align: center;
}

.title_head{
    width: 100%;
    height:29px ;
    background: url(../images/pro_h.png) repeat-x;
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 17px;
}
.result_blog{
    width: 633px;
    height: 461px ;
    margin: 10px auto;
    display: block;
    background: url(../images/res_bg.png) no-repeat;
    
}
.result_blog h2{
       font-size: 30px;
    font-weight: normal;
    line-height: 73px;
    text-align: center;
}

.result_blog_table{
    width: 450px;
    margin:  auto;
    overflow: hidden;
    display: block;
  
}
.na_title{
    width: 150px;
    text-align: right;
}
.re_input input{
    width:200px;
    height: 30px;
    background: url(../images/in.png) no-repeat;
    border: none;
    margin-bottom: 10px;
}
.sub_now input{
    width:63px ;
    height: 25px ;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    background: url(../images/sub_mit.png) no-repeat;
}


/*--- FOR MENU-*/



.left_content{
width:195px;
float:left;
padding:30px 0 0 20px;
}
.right_content{
width:625px;
float:left;
padding:30px 0 0 30px;
}

.sidebarmenu{
margin:0px 0;
padding:0;
width:171px;

}
.sidebarmenu a.menuitem{background:#46d1ff;
color: #fff;display: block;position: relative;width:156px;height:31px;margin:0 0 1px 6px;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem_green{background:url(../images/green_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem_red{background:url(../images/red_bt.gif) no-repeat center top;
color: #fff;display: block;position: relative;width:185px;height:31px;margin:0 0 5px 0;line-height:31px;padding:0px 0 0 10px;text-decoration: none;
}
.sidebarmenu a.menuitem:hover{background:url(../images/sidebar_menu_top_a.gif) no-repeat center top;}
.sidebarmenu a.menuitem_green:hover{background:url(../images/green_bt_a.gif) no-repeat center top;}
.sidebarmenu a.menuitem_red:hover{background:url(../images/red_bt_a.gif) no-repeat center top;}

.sidebarmenu a.menuitem:visited, .sidebarmenu .menuitem:active{
color: white;
}
.sidebarmenu a.menuitem .statusicon{
position: absolute;
top:11px;
right:7px;
border: none;
}

.sidebarmenu div.submenu{
background: white;
}
.sidebarmenu div.submenu ul{ 
list-style-type: none;
margin: 0;
padding: 0 0 5px 0;
}
.sidebarmenu div.submenu ul li{
border-bottom: 1px dotted #bfd1d9;
}
.sidebarmenu div.submenu ul li a{
display: block;
color: black;
text-decoration: none;
padding:5px 0;
padding-left: 10px;
}
.sidebarmenu div.submenu ul li a:hover{
background: #e2f0ff;
color: #0e4354;
}

.basic_left{
     background: url("../images/im1.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 491px;
    margin-left: 27px;
    width: 256px; margin-top: 10px;
}
.basic_left2{
   background: url("../images/im2.png") no-repeat scroll 0 0 transparent;
    display: inline;
    float: left;
    height: 491px;
    margin-left: 19px;
    width: 462px;
    margin-top: 10px;
}
.basic_left span{
    margin:15px 0 0 10px;
    display: block;
}
.basic_left img{
    float: left;
    display: inline;
    margin: 24px 0 0px 41px;
}
.sar {
 float: left;
 display: inline;
    overflow: hidden;
    margin-left: 11px;
  
}
.basic_left2 span{
   display: block;
    margin: 14px 0 0 25px;
}

.dgfg{
  
    display: inline;
    float: left;
    margin-left: 13px;
    width: 94%;
    
    
}
.dgfg tr {
    float: left;
    display: inline;
  
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}
.dgfg tr td{
    font-size: 14px;
    
}

.l_name{
    float: left;
    display: inline;
    width: 155px;
    text-align: right;

}


#res_box{
    width: 963px;
    margin: auto;
    overflow: hidden;
 
}

.fdr{
    float: left;
    display: inline;
    width: 963px;
height: 40px;
font-size: 22px;
font-weight: normal;
text-align: center;
background: #c3c3c3;
    line-height: 41px;
}

.prinus{
    float: left;
    display: inline;
    width:58px ;
    height:18px ;
    margin-top: 20px;
}
.fddf tr {
    width: 100%;
    overflow: hidden;
}
#fdfsdfws td{
    width: 20%;
    overflow: hidden;
    float: left;
    display: inline;
}




